.navigation li {display: inline;
	 border-right: 1px solid #bbb;
	 font-family: 'Bungee Shade', cursive;
	 font-size:40px;
}

.navigation li:last-child {
    border-right: none;
}

.navigation ul {padding: 0;
	list-style-type: none;
	margin: 0;
	background-color: #918c8c;
	width: 100%;
	align-self: center;
		}

.navigation ul a{
	text-decoration: none;
	color:white;
	padding: 10px;
	display: inline-block;
}

.navigation ul a:hover{
	background-color: #383636;
}

.about{
	position:absolute;
	right:100px;
	top:100px;
	font-family: 'EB Garamond', serif,'Itim', cursive;
	width:50%;
	font-size: 40px;

}

.chip {
	position: absolute;
	top:150px;
    display: inline-block;
    padding: 0 25px;
    height: 200px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 25px;
    
    font-family: 'Ubuntu', sans-serif;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
.interests{
	position:absolute;
	right:100px;
	top:100px;
	font-family: 'EB Garamond', serif,'Itim', cursive;
	width:50%;
	font-size: 40px;

}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 25px;
    border: none;
    cursor: pointer;
    height: 500px;
    width:300px;
    top:30px;
    font-family: 'EB Garamond', serif,'Itim', cursive;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    border: 1px solid black;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-family: 'EB Garamond', serif,'Itim', cursive;
    font-size: 30px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'EB Garamond', serif,'Itim', cursive;
    font-size: 20px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.open{
	
	
	top:100px;
	position: relative;
	float: right;
}



.item{
	display: inline-block;
	padding: 15px;
}
.item:hover{
	background-color: black;
}
a.link{
    text-decoration: none;
    color:#00cc33;
    font:15px/30px Georgia, serif; 
}
a:hover{
    color:#00B4FF;
}
#head1	{
	padding: 15px;
	font-size : 50px;
	font-family: 'Itim', cursive;
	color:white;
	margin:0;
}
#teampage {
	background-color:#263238;
	text-align: center;
	color: white;
}
.MemberDetails
{
    height: 300px;
    width: 400px;
    padding: 5px;
    font-family: 'EB Garamond', serif,'Itim', cursive;
    margin: 10px;
    display: inline-block;
    text-align: center;
    font-size: 30px;
}
.png {
	padding: 5px 15px;
	align: center;
	height: 100px;
	width: 100px;
}
.img-circle{
    border-radius: 50%;
    height: 300px;
    width: 300px;
    /* Disable GrayScale Effect */
      filter: none;
    -webkit-filter: grayscale(0);

}
/* Enable grayscale on hover */
.img-circle:hover{
    filter: gray; /* IE6-9 */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}



  

